[submodule "espfs"]
	path = components/espfs
	url = https://github.com/xobs/libespfs.git
[submodule "libesphttpd"]
	path = components/libesphttpd
	url = https://github.com/xobs/libesphttpd.git
[submodule "components/blackmagic/blackmagic"]
	path = components/blackmagic/blackmagic
	url = https://github.com/blacksphere/blackmagic.git
